################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JWTImplementation.slnx/FileContentIndex
/.vs/JWTImplementation.slnx/v18
